.App {
  text-align: center;
<<<<<<< HEAD
  background-image:  'url(tausta.jpg)';

=======
>>>>>>> a00ea413918356816d4d97657d3c6f765dd2577f
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
<<<<<<< HEAD
=======
.navi{
  background: linear-gradient(rgb(255, 255, 255),#FFEDE9);
  background-color: #FFEDE9;
  
}
body{
  background-color: #FFEDE9;
}



>>>>>>> a00ea413918356816d4d97657d3c6f765dd2577f

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
